
	
	    button{
	    	height:3rem;
	    	width:15rem;
	    	font-size: 1.5rem;
	    	font-weight: bolder;
	    }

		body{
			text-align: center;
			background-image: url("ezgif.com-gif-maker.jpg"),url("ezgif.com-gif-maker.jpeg"),url("ezgif.com-gif-maker.jfif");
			font-family: cursive;
			font-weight: bold;
			font-size: 2rem;
		}
		select{
			height: 3rem;
			width: 50%;
		}
		h2{
			font-family: cursive;
			font-weight: bold;
		}
		h3{
			font-family: cursive;
			font-weight: bold;
		}
		

		
		@media only screen and (max-width:700px) {
		

  

		body{
			background-image: url("ezgif.com-gif-maker.jpg"),url("ezgif.com-gif-maker.jpeg"),url("ezgif.com-gif-maker.jfif");
		}
	button{
	    	height:3rem;
	    	width:15rem;
	    	font-size: 1rem;
	    	font-weight: bold;
	    }
	    *{
	    	font-family: serif;
	    	font-weight: bold;
	    	font-size: 1rem;
	    }
	    h2,h3{
	    	font-size: 1.3rem;
	    	font-family: serif;
	    	font-weight:bold;
	    }
	
	}
